.hall{
  background-image: url(../img/cropped-1920-1080-808882.png);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.title_hall{
  border-bottom: 2px solid blue;
  padding-top: 100px;
  display: inline-block;
  text-align: center;
}
.title_hall:hover {
  border-bottom: 2px solid purple;
}

@media only screen and (max-width: 768px) {
    
    .hall{
        background: black;
        color: white;
        width: 100vw;
        height: 100vh;
        padding-top: 50%;
       
    }
    .title_hall{
        border-bottom:2px solid rgb(0, 255, 0);
        align-items: center;
        font-size: 1rem;
    }
    .title_hall:hover {
        border-bottom: 2px solid red;
    }
}
