*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
  background: rgb(250, 0, 0);
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: rgb(0, 110, 255);
  
}

/*HEADER*/
header{
    background-color: black;
    text-align: center;
    border-bottom: 2px solid yellow;
}

/*NAV*/
.menu-container{
  height: 15vh;
  background-color: black;
  border-bottom: 2px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 24px;
  text-transform: uppercase;

}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  border-bottom: 2px solid yellow;
}
.personagens_nav:hover{
  border-bottom: 2px solid rgb(0, 255, 0);
}
.planetas_nav:hover{
  border-bottom: 2px solid rgb(0, 110, 255);
}
.navis_nav:hover{
  border-bottom: 2px solid rgb(255, 0, 0);
}
ul, ol,li {
  list-style: none;
}

/*MAIN*/
#root {
  height: 100%;
}
/*FOOTER*/
footer{
    background-color: black;
    border-top: 2px solid yellow;
    color:white;
}
.contatos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  gap: 20%;
  padding: 1%;
}
.contato{
    display: flex;
}
.contato li {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
}
.contato{
 display: flex;
 flex-direction: row;
}
.redes-sociais ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 10px;
}
.redes-sociais{
 width: 15vw;

}


/*Responsividade*/
@media only screen and (max-width: 768px) {
    
  /*Responsividade HEADER*/
  header{
    background-color: black;
    height: 100%;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid yellow;
  }
 
  /*Responsividade NAv*/
  .menu-container{
    height: 15vh;
    width: 100vw;
    background-color: black;
    border-bottom: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    gap: 10px;
  }
  a:hover{
    border-bottom: 2px solid yellow;
  }
  .personagens_nav:hover{
    border-bottom: 2px solid rgb(0, 255, 0);
  }
  .planetas_nav:hover{
    border-bottom: 2px solid rgb(0, 110, 255);
  }
  .navis_nav:hover{
    border-bottom: 2px solid rgb(255, 0, 0);
  }
  ul, ol,li {
    list-style: none;
  }
  
  /* Responsividade FOOTER*/
  .contatos {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  }
  
  .contato {
      width: 100%;
      margin-bottom: 20px;
      padding-left: 50px;
  }
    
  .redes-sociais {
      width: 100%;
      margin-top: 20px;
      justify-content: center;
  }
    
  .redes-sociais ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  }
    
  .redes-sociais ul li {
      margin: 0;
      padding: 0;
  }
    
  .redes-sociais ul li i {
      font-size: 1.5rem;
  }

  .info-contant{
    text-align: center;
}

}

